playbooks/roles/reverseproxy/files/
analysis
build
docs/build
glr-kubeconfig
venv
lint-venv
*.sh
!playbooks/roles/cron/files/*
*.pem
old*
PrivateRules.mak
#/collections/*
nvidia.nvidia_driver/
test-harness/resources/__pycache__
test-harness/tests/__pycache__
test-harness/.pytest_cache
test-harness/pytest-logs.txt
ansible-lint-results.txt
.VSCodeCounter/
.vscode/
Pipfile
Pipfile.lock
heat-cluster/
inventory_k8s_gerhard
inventory_k8s_gerhard_1
k8s_vars_adriaan.yml
k8s_vars_gerhard.yml
k8s_vars_gerhard_1.yml
pytest-logs.txt
test-harness/files/api_discovery.py
test-harness/pytestdebug.log
test-harness/resources/html_parser.py
test-harness/resources/pytest-logs.txt
.kube
tmp/
linting-flake.xml
linting-yamllint.xml
linting-ansible.xml
ansible-lint.txt

cucumber.json
report.json
report.xml
*.out
psi_low_kube_config
PrivateRules.mak
etc/
*.ovpn
*.gpg
all_inventory
clouds.yaml
combined_inventory/
stfc_k8s_config
test_os.py
certs/
collections/
.cache/
k8s_combined_inventory/

