import json
import glob
import sys

# ST-1159: Open the vulnerability report
for filename in glob.glob(sys.argv[1]):
    with open(filename, 'r') as fd:
        data = json.load(fd)

    # ST-1159: Retrieve the desired information
    for result in data.get('Results', []):
        for vuln in result.get('Vulnerabilities', []):
            report = {
                'target': result.get('Target', 'Unreported'),
                'id': result.get('VulnerabilityID', 'Unreported'),
                'package': result.get('PkgName', 'Unreported'),
                'installed_version':result.get('InstalledVersion', 'Unreported'),
                'fixed_version': result.get('FixedVersion', 'Unreported'),
                'url': result.get('PrimaryURL', 'Unreported'),
                'severity': result.get('Severity', 'Unreported'),
                'msg': result.get('Description', 'Unreported'),
            }

            # TODO: make pretty message for slack
            # TODO: Report to slack
